-f https://download.pytorch.org/whl/torch_stable.html
wheel
matplotlib
future
numpy
Pillow
pycocotools
torch==1.6.0+cu101 
torchvision==0.7.0+cu101
tensorboardX
scikit_image
tqdm
easydict
scikit-image
opencv_python
pycocotools